@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    height: 1000px;
    border: 1px black solid;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.splash-image {
    height: 1000px;
    transform: translateX(-10%);
    clip-path: inset(0 20% 0 0)
}

.logo {
    width: 35%;
    background-image:url("/images/splash-image.jpg");
    background-size: 159%;
    background-position: -75px;
    position: relative;
    flex-shrink: 0;
}

.logo-backdrop {
    background-color: #00000080;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-backdrop img {
    height: 100px;
    padding: 10px;
}

.logo-backdrop h1 {
    color: white;
    font-family: "Norse", sans-serif, system-ui;
    font-size: 5rem;
    padding: 0px;
    margin: 0px;
}

.image-credit {
    position: absolute;
    bottom: 10px;
    left: 75px;
    color: white;
    text-shadow: 2px 2px black;
}

.image-credit a {
    color: white;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 50px;
    height: 60%;
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.144);
}

.content h2:nth-child(3) {
    margin-top: 60px;
}

.form-container {
    
}

.main-form {
    display: flex;
    flex-flow: row wrap;
}

.form-cell {
    padding-right: 2rem;
}

.form-cell:nth-child(n + 3) {
    padding-top: 1.5rem;
}

.form-cell label,
.form-cell input {
    display: block;
}

.form-cell input {
    font-size: 18px;
    margin-top: 5px;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border: 1px rgb(201, 200, 200) solid;
    appearance: none;
}

.form-cell input:focus {
    outline: 2px solid rgb(135, 186, 253);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
}

.form-cell input:user-invalid {
    outline: 2px solid rgb(252, 95, 95)
}

.form-cell label {
    font-size: 14px;
}

